* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: auto;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    display: flex;
    background: #f4f3f3;
    height: 7vh;
    border-bottom: 2px solid #dbdbdb;
}

nav div {
    display: flex;
    align-items: center;
    flex: 50%;
}

nav div.left-side {
    padding-left: 10px;

}

nav div.right-side {
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin-left: 35px;
}

.left-side img {
    width: 30px;
    filter: brightness(0);
}

nav ul li {
    display: inline;
    margin-left: 40px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a.list-active {
    color: #ec4d37;
    font-weight: 700;
}

nav .right-side a {
    font-size: 15px;
    padding: 8px 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}


.overlay-nav {
    width: 100%;
    height: 18%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.47);
    display: flex;
    padding: 10px 80px;
    align-items: end;
    flex-direction: column;
    gap: 10px;
}

.overlay-nav a.list-active {
    background-color: #000000;
    border: 5px solid #000000;
    border-radius: 5px;
    font-weight: 750;
}

.d-none {
    /* display: none; */
    opacity: 0;
}

.d-show {
    opacity: 1;
}

.transition {
    transition: all 0.3s;
    /* opacity: 1; */

}

.text-white a {
    text-decoration: none;
    color: white;
}


.title {
    text-align: center;
    margin-top: 60px;
}

form {
    width: 350px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form div {
    margin-top: 20px;

}

label {
    font-weight: bold;
    font-size: 15px;

}

.inputText input {

    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    box-shadow: 0px 5px 3px 0px rgb(209, 209, 209);
}

select {

    width: 100%;
}


.Date {
    margin: 0;
}

input[type="file"] {

    margin-top: 7px;
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 3px 0px rgb(209, 209, 209);
}

input::file-selector-button {
    font-weight: bold;
    color: grey;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

.submit button {

    background-color: black;
    color: white;
    padding: 6px 25px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.submit {
    text-align: right;
    margin-right: 7px;
}

button:hover {
    font-size: 100%;
    background-color: rgb(248, 92, 35);
    transition: 0.3s;

}

textarea {
    resize: none;
}

.nav-left {

    background-color: white;
    width: 100%;
    align-items: center;

}

.nav-left a {
    background-color: white;
    text-decoration: none;
    color: rgb(12, 12, 12)
}

.nav-left ul {
    display: flex;
    list-style-type: none;

}

.nav-left ul li {
    display: flex;
    align-items: center;
    margin-right: 35px;

}

.nav-left ul li img {

    margin-right: 25px;

}

.nav-right {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: end;

}

.nav-right a {
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: end;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.container {
    width: 80%;
    height: 600px;
    background-color: azure;
}

img {
    width: 50px;
}


.card {
    width: 900px;
    height: 200px;
    box-shadow: 5px 5px 35px rgb(205, 205, 205);
    display: flex;
    margin: auto;
    background-color: white;
}

.card .image {
    width: 40%;
    background-color: aqua;
    align-items: center;
    display: flex;
}

.card .image img {
    width: 100%;
    padding: 5px 5px;
}

.card .isi {

    margin-left: 30px;
    text-align: left;
    width: 60%;
}

.tech input {
    padding: 0;
    margin: 0;
}

.tech input {
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-right: 20px;
    margin-top: -40px;
    box-shadow: 0px 0px 0px 0px;
}

.label {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: -70px;
}

.logos {
    display: flex;
}

.label label {
    font-weight: lighter;
    margin-right: 60px;
    position: relative;
    top: -42px;
}

.myproject {
    width: 100%;
    height: 400%;
    background-color: rgb(250, 250, 250);
}

.myproject .judul {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contents1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 25px rgb(224, 224, 224);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 10px;
    margin-top: 20px;
}

.object-cover {
    object-fit: cover;
}

.text-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upper p {
    margin: 0;

}

.upper img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.title-card {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.title-card a {
    text-decoration: none;
    color: rgb(9, 1, 35);
}

.bulan {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

.ts {
    text-align: center;
    width: 8%;
}

.action button {
    background-color: rgb(4, 1, 34);
    color: #DCE0E4;
    width: 48%;
    border-radius: 5px;
    font-size: 16px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.logo {
    margin: 10px auto;
    margin-bottom: 20px;
}

.logo i {
    margin-right: 10px;
}

.date {
    display: flex;
}

.upload {
    margin-top: 0px;

}

@media only screen and (max-width: 768px) {
    nav div.left-side {
        padding-left: 0px;
    }

    .container {
        flex-direction: column;
    }

    .d-sm-none a {
        display: none !important;
    }

    .upper img {
        height: 120px;
    }

    .card {
        width: 185px;

    }
}

@media only screen and (min-width:768px) {
    .right-side span {
        display: none;
    }
}